/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/08/2020, 02:19:11 AM
    Author     : Jhony Caro
*/
body{
    background-color: rgb(30,32,33);
}
.p-registro{
    align-items: center;
    text-align: center;
    background-color: rgb(30,32,33);
    margin-top: 5%;
}
input{
    width: 350px; height: 40px;
    background-color: rgb(24,26,27);
    border: 0;
    padding-left: 20px;
    font-family: "Latin Modern Roman 10";
    font-size: large;
    border-radius: 3px;
    color: rgb(210, 217, 250);
    margin-bottom: 5px;
    margin-top: 5px;
}
.etiqueta{
    height: 40px;
    margin-top: 12px; 
    margin-bottom: 10px;
}
.img-logo{
    margin-bottom: 50px;
}

p{
    padding-left: 15%; padding-right: 15%;
    text-align: justify;
    font-family: "Latin Modern Roman 10";
    font-size: large;
    color: rgb(53, 144, 213);
    font-style: italic;
    margin-bottom: 30px;
}
.boton{
    width: 320px; height: 45px;
    background-color: rgb(128, 38, 38);
    font-family: "Latin Modern Roman 10";
    font-size: large;
    border:0; 
    border-radius: 5px;
    color: rgb(155, 157, 158);
}

.boton-registro{
    margin-top: 30px;
    margin-bottom: 30px;
}
.etiquetas{
    float: left;
    width: 25%; height: 550px;
    font-family: "Latin Modern Roman 10";
    font-size: 15pt;
    /*font-weight: bold;*/
    text-align: left;
    padding-left: 25%;
    color: rgb(210, 217, 250);
}
.entrada-info{
    float: right;
    width: 50%; height: 550px;
    text-align: initial;
}
.campo-obligatorio{
    color: rgb(182, 3, 3);
}
.boton-ver{
    height: 30px;
    width: 50px;
    background-color: rgba(59, 59, 59, 0.007);
    border: 0;
}
.img-ver{
    height: 25px;
    width: 25px;
}